/BPMN_temporal_logic_generator/BPMN_temporal_logic_generator/branding/target/
/BPMN_temporal_logic_generator/BPMN_temporal_logic_generator/application/target/
/BPMN_temporal_logic_generator/BPMN_temporal_logic_generator/Configuration/target/
/BPMN_temporal_logic_generator/BPMN_temporal_logic_generator/Core/target/
.directory
